/* common shared */
body{
    font-family: 'Open Sans', sans-serif;
}
/* nav reletive  */
nav {
    display:flex;
    justify-content:space-between;
    align-items:  center;
    margin-left: 200px;
}
.nav-titl{
    color: #181818;
 ;
font-size: 45px; 
font-weight: 800;
}
.text-primary{
    color:#FD6E0A
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
 color:  wheat;
font-size: 20px;
padding: 18px 35px 19px 36px ;
 
font-weight: 700;
 
}
nav > ul{
    display: flex;
    align-items:  center;
  
}
ul >li{
    list-style: none
    ;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:   #474747;
}
/* header reletive style */
.header{
    background-color:#FFF;;
}
.benar{
    display:  flex;
    padding: 30px 30px 30px 150px;
    align-items: center;
}
.photo{
    width: 500px;
}